@model IEnumerable<WebHocAnhVanNew.Models.Giohang>

@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giohang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ten)</th>
        <th>@Html.DisplayNameFor(model => model.hinh)</th>
        <th>@Html.DisplayNameFor(model => model.gia)</th>
        <th>@Html.DisplayNameFor(model => model.iSoluong)</th>
        <th>@Html.DisplayNameFor(model => model.dThanhtien)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.id)</td>
            <td><img src="@item.hinh" width="180" /></td>
            @using (Html.BeginForm("CapnhatGioHang", "GioHang", new { @id = item.id }))
            {
                <td>@String.Format("{0:0,0}", item.gia) VND </td>
                <td><input type="number" min="1" name="txtSolg" value="@item.iSoluong" /></td>
                <td>@Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td> <a href="@Url.Action("Detail","GioHang",new {@id = item.id})">Chi Tiết</a>| @Html.ActionLink("Xoá", "XoaGioHang", new { @id = item.id })</td>
                <td><input type="submit" value="Cập Nhật" class="btn btn-success" /></td>
            }
        </tr>
        <tr style="font-weight:bold;text-align:left;color:red">
            <td colspan="2">Số loại : @ViewBag.Tongsoluongsanpham</td>
            <td colspan="2">Số lượng khóa hoc: @ViewBag.Tongsoluong</td>
            <td colspan="4">Tổng tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien) VND</td>
        </tr>
        <tr style="font-weight: bold; color: blue; text-align: right">
            <td colspan="5">
                @Html.ActionLink("Xoá Giỏ Hàng", "XoaTatCaGioHang")
            </td>
        </tr>
        <tr style="font-weight: bold; color: yellow; text-align: right">
            <td colspan="5">
                <a href="@Url.Action("Buy", "KhoaHoc", new {id = item.id})" class="btn btn-primary">Buy</a>
                <a href="@Url.Action("Payment","Home")">Thanh toán</a>
            </td>
        </tr>
    }
</table>

